[carto]
base_url=https://cartouser.carto.com/
api_key=MYAPIKEY
table_name=MYTABLE
delimiter=,
columns=column1,column2,column3
date_columns=column1,column2

[etl]
chunk_size=500
max_attempts=3
file_encoding=utf-8
force_no_geometry=false
force_the_geom=
date_format=

[log]
file=etl.log
level=30

[here]
app_code=YOUR_HERE_APP_CODE
app_id=YOUR_HERE_APP_ID

[geocoding]
input_delimiter=,
output_delimiter=,
output_columns=recId,displayLatitude,displayLongitude,locationLabel,houseNumber,street,district,city,postalCode,county,state,country,relevance
max_results=1
