[carto]
base_url=https://cartouser.carto.com/
api_key=5565dgfgfd2b8ajjhgjgfa94d311aa60lk89vnber45e1rfg5gb
table_name=samples
delimiter=,
columns=object_id,privacy,resource_type,country_code

[etl]
chunk_size=500
max_retries=3

[log]
file=etl.log
level=30
