[carto]
base_url=https://{user}.carto.com/
api_key=
table_name=sample02
columns=a,b,c,d,e,f,g,h,i
delimiter=,

[etl]
chunk_size= 10
max_attempts=3
file_encoding=utf-8
force_no_geometry=true

[log]
file=etl.log
level=30
