[carto]
base_url=https://aromeu.carto.com/
api_key=c4faca161957ce0bcee88d91f58d3f68a3462b57
table_name=sample02
columns=a,b,c,d,e,f,g,h,i
delimiter=,

[etl]
chunk_size= 10
max_attempts=3
file_encoding=utf-8
force_no_geometry=true

[log]
file=etl.log
level=30
