[carto]
base_url=https://{user}.carto.com/
api_key=
table_name=sample02
columns=a,b,c,d,e,f,g,h,i
delimiter=,
date_columns=
x_column=
y_column=
srid=

[etl]
chunk_size= 10
max_attempts=3
file_encoding=utf-8
force_no_geometry=true
force_the_geom=
date_format=
datetime_format=
float_comma_separator=
float_thousand_separator=

[log]
file=etl.log
level=30
