[carto]
base_url=https://{user}.carto.com/
api_key=
table_name=sample01
columns=a,lat,lon,b,c,d,e,f,g,h,j,k,l,m,n,o
delimiter=|

[etl]
chunk_size= 10
max_attempts=3
file_encoding=ISO-8859-1
force_no_geometry=false

[log]
file=etl.log
level=30
